

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power calculating</title>
    <style>
        h2,form,h3,p{
            text-align: center;
            width :100%;
        }
        div{
            margin: 235px;
            padding: auto;
        }
        legend{
            font-size: 20px;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <fieldset>
    <legend>MUTHU GANESH R</legend>
   <div><h2>Power calculator</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Current (ampere):</label>
        <input type="text" name="Current" required>
        
        <label>Resistance (ohm):</label>
        <input type="text" name="resistance" required>
        
        <button type="submit">Calculate Power</button>
    </form>
    {% if power %}
    <h2>P(power) equals to I<sup>2</sup>(square of current) times R(resistence)</h2>
    <h3>Input values</h3>
    <p>Current : {{Current}} ampere<br>Resistance : {{resistance}} ohm</p>
    <h3>Power : {{power}} watt</h3>
    {% endif %}
    </div></fieldset>

</body>
</html>